body {
    font-size: 16px;
}

.cats {
    .card {
        &-img-top {
            height: 236px;
        }
        &-title {
            color: var(--bs-primary)
        }
    }
    p {
        font-style: italic;
        font-size: .9rem;
    }
}

.chat{
    .message {
        &__area {
            height: calc(100vh - 95px);
            max-height: calc(100vh - 95px);
        }
    }
}